{% extends "layout.html" %}

{% block title %}
    Aaron M. Lee - About Me - Data Science Portfolio
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">

                    <h2 class="about-header">My Journey</h2>

                </div>
            </div>
        </div>


        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>1997</h2>
                            <p><a target="_blank" class="about-link" href=https://www.usna.edu/WRC/academics/index.php">Systems Engineering Degree</a>:
                                <br>
                                <ul>
                                <li>C++: microprocessors and robotics</li>
                                <li>Matlab: matrix math, visualizations, and simulations</li>
                                </ul>
                            </p>
                </div>
            </div>

            <div class="container-timeline right">
                <div class="content">
                        <h2>1999</h2>
                            <p>
                                <a target="_blank" class="about-link" href="https://en.wikipedia.org/wiki/Boeing_Vertol_CH-46_Sea_Knight">Navy Helicopter Pilot (9yr)</a>:
                                Search and Rescue, Special Warfare, and Vertical Replenishment
                            </p>
                </div>
            </div>

            <div class="container-timeline left">
                <div class="content">
                        <h2>2008</h2>
                            Physics Teacher (6yr):
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://materovcompetition.org/">MATE ROV head coach (6yr)</a>:
                                    Arduino, Processing, Ardupilot and Raspberry Pi (Linux)
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.firstinspires.org/robotics/ftc">FIRST Tech Challenge head coach(10yr)</a>:
                                    Robot C, Java, and Android Studio
                                </li>
                                 <li>
                                    <a target="_blank" class="about-link" href="https://www.firstinspires.org/robotics/frc">FIRST Robotics Competition head coach(2yr)</a>:
                                    C++, and LabView
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.adlerplanetarium.org/learn/all-ages/far-horizons/">Near Space Experiemnts (5yr)</a>:
                                    Arduino data logging for Adler Planetarium Far Horizons program
                                </li>
                            </ul>

                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2012</h2>
                            <a target="_blank" class="about-link" href="https://www.afterschoolmatters.org/">After School Matters (2yr)</a>:
                            <ul>
                                <li>Gamemaker Studio (C-like language)</li>
                                <li>Arduino Microcontrollers (C++)</li>
                            </ul>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2014</h2>
                        <a target="_blank" class="about-link" href="https://www.fwparkerrobotics.org/">Computer Science Teacher (6yr)</a><br>
                        Languages taught:
                            <ul>
                                <li>
                                    Python
                                </li>
                                <li>
                                    JavaScript, HTML, CSS
                                </li>
                                <li>
                                    Java for Android Studio
                                </li>
                                <li>
                                    Arduino, Processing
                                </li>
                            </ul>
                    FIRST Tech Challenge: Two Illinois State Championships (2019 and 2020)

                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2021</h2>
                        <a target="_blank" class="about-link" href="https://flatironschool.com/career-courses/data-science-bootcamp/online">Flatiron Data Science Bootcamp</a>:
                            <ul>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>Statistics</li>
                                <li>A/B testing</li>
                                <li>Regression Analysis</li>
                                <li>Machine Learning</li>
                                <li>Big Data</li>
                                <li>Deep Learning</li>
                                <li>Natural Language Processing</li>
                                <li>Statistics</li>
                            </ul>
                            <a target="_blank" class="about-link" href="/portfolio">Link to my projects</a>

                </div>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>

        <div class="row about-row justify-content-center">
            <div class="col-12 p-0 text-center">
                    <h2 class="about-header">My skills:</h2>
            </div>
        </div>
        <div class="row row-legend justify-content-center">
            <div class="col-12 p-0 text-center">
                <p>
                    1 - Basic<span class="about-legend"></span>
                    2 - Novice<span class="about-legend"></span>
                    3 - Intermediate
                </p>
                <p class="m-0">
                    4 - Advanced<span class="about-legend"></span>
                    5 - Expert
                </p>
            </div>
        </div>
        <div class="row row-legend justify-content-center about-header">
                Hover cursor over bars for more information
        </div>
        <div class="row about-row justify-content-center">
            {% for topic, one_skill in skills %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="skill-cat text-center">
                    <h5>{{ topic }}</h5>
                </div>
                <div class="row">
                    {% for item in one_skill %}
                    {% set level = item[1]/5*100 %}
                    <div class="col-12 text-right">
                        <p>{{ item[0] }} - {{ item[1] }}</p>
                        <div class="skill-bar">
                            <div class="skill-spec" style="width: {{ level }}%;">
                            </div>
                            <span class="tooltiptext">{{ item[2] }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}