{% extends "layout.html" %}

{#{% block title %}#}
{#    Aaron M. Lee Arcade Games (Portfolio Website)#}
{#{% endblock %}#}

{% block main %}
{#    row 1#}
    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
            {% for project in projects %}
{#                <div class="col-12 col-md-5 justify-content-center">#}
{#                    <div class="portfolio-row justify-content-center">#}
{#                        <div class="text-center">#}
{#                            <!-- project title  -->#}
{#                            <h4 class="index-header"> {{project[0]}} </h4>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="index-bottom text-center">#}
{#                        <a target="_blank" href={{ project[1] }}>#}
{#                            <img class="portfolio-img" src="{{  project[2] }}">#}
{#                        </a>#}
{#                         <h6>{{ project[3] }}</h6>#}
{#                    </div>#}
{##}
{#                </div>#}

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">

                            <h4 class="index-header">{{ project[0] }}</h4>

                        </div>
                    </div>
{#                    <div class="row justify-content-center">#}
{#                        <div class="row index-img text-center">#}
{#                            <h6>{{ project[0] }}</h6>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row justify-content-center">
                        <a target="_blank" href="{{ project[1] }}">
                            <img class="portfolio-img" src="{{ project[2] }}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            {{ project[3] }}
                        </p>
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}