{% extends "layout.html" %}
{% set active_page = "blog" %}

{% block title %}
    blog
{% endblock %}




{% block main %}

{#<a class="twitter-timeline" data-lang="en" data-width="500" href="https://twitter.com/ScienceleeBlog?ref_src=twsrc%5Etfw"></a>#}
{#<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}

<div class="twitter-feed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="twitter-timeline" data-lang="en" data-width="80%" href="https://twitter.com/ScienceleeBlog?ref_src=twsrc%5Etfw">Tweets by ScienceleeBlog</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

