
{% extends "layout.html" %}

{#{% block title %}#}
{#    Aaron M. Lee Data Science Portfolio Website#}
{#{% endblock %}#}



{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">

                            <h2 class="index-header">My latest project</h2>

                        </div>
                    </div>
{#                    <div class="row justify-content-center">#}
{#                        <div class="row index-img text-center">#}
{#                            <h6>{{ project[0] }}</h6>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row justify-content-center">
                        <a target="_blank" href="{{ project[0][1] }}">
                            <img class="portfolio-img" src="{{ project[0][2] }}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            <a class="about-link" href="/portfolio">Go here</a> to see more projects.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">

                            <!-- <h2 class="index-header">My most recent course</h2> -->
                            <h2 class="index-header">My latest blog post</h2>
                        </div>
                    </div>
{#                    <div class="row justify-content-center">#}
{#                        <div class="row index-img text-center">#}
{#                            <!-- this is my blog title passed through -->#}
{#                            <h6> {{  blog[0] }} </h6>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row justify-content-center">
                        <a target="_blank" href={{ blog[0][1] }}>
                            <img class="portfolio-img" src="{{  blog[0][2] }}">
                        </a>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            And <a target="_blank" class="about-link" href="https://medium.com/@sciencelee">Go here</a> to see more blog posts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}